In [7]:
import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd

In [10]:
#cell type dictionary keys
HEK293XT = 1
CVB_SMNPC = 2

#screen dictionary keys
UCSF_GENEN = 1
FDA_IN = 2
SPECTRUM = 3
LOPAC_PRESTWICK = 4
TPIMS = 5

In [11]:
#path of the folder containing the data
analyses_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Data - analyses/SG project/screening/analyses of large screens/find compound IDs'

#the {} is replaced by the argument in the string function .format()
#header = None means do NOT take the first row as column names for the dataframe being created by pd.read_csv
marginal_hits = pd.read_csv('{}/151116 marginal hits.csv'.format(analyses_folder), header = None)

#print out the default column names in the pandas dataFrame potential_hits
marginal_hits.columns.values
marginal_hits

,0,1,2,3,4,5,6,7,8,9,10
0,1B13,smaller granules,NaN,1,B,13,1,2,13,1,2
1,1N4,smaller granules,NaN,1,N,4,1,14,4,1,2
2,1D9,smaller granules,NaN,1,D,9,1,4,9,1,2
3,2G18,"smaller granules, many more granules, rounded ...",NaN,2,G,18,2,7,18,1,2
4,2E18,"smaller granules, many more granules, rounded ...",NaN,2,E,18,2,5,18,1,2
5,2G15,smaller granules,NaN,2,G,15,2,7,15,1,2
6,2G13,smaller granules,NaN,2,G,13,2,7,13,1,2
7,3P11,"smaller granules, many more granules, rounded ...",NaN,3,P,11,3,16,11,1,2
8,4N8,"autofluorescence, smaller granules",NaN,4,N,8,4,14,8,1,2
9,4P1,smaller granules,NaN,4,P,1,4,16,1,1,2
10,4A13,"smaller granules, many more granules, rounded ...",NaN,4,A,13,4,1,13,1,2
11,1F17,smaller granules,NaN,1,F,17,1,6,17,2,2
12,1M3,smaller granules,NaN,1,M,3,1,13,3,2,2
13,2C6,smaller granules,NaN,2,C,6,2,3,6,2,2
14,2J17,smaller granules,NaN,2,J,17,2,10,17,2,2
15,4N8,"autofluorescence, smaller granules",NaN,4,N,8,4,14,8,2,2
16,1D4,"smaller granules, many more granules, rounded ...",NaN,1,D,4,1,4,4,1,3
17,1I16,"smaller granules, many more granules, rounded ...",NaN,1,I,16,1,9,16,1,3
18,1J12,"smaller granules, rounded cells",NaN,1,J,12,1,10,12,1,3
19,2N3,"smaller granules, rounded cells",NaN,2,N,3,2,14,3,1,3
20,2L7,"smaller granules, rounded cells",NaN,2,L,7,2,12,7,1,3
21,2M8,"smaller granules, rounded cells",NaN,2,M,8,2,13,8,1,3
22,3P18,smaller granules,NaN,3,P,18,3,16,18,1,3
23,4O6,"smaller granules, rounded cells",NaN,4,O,6,4,15,6,1,3
24,4A13,"smaller granules, rounded cells",NaN,4,A,13,4,1,13,1,3
25,4D9,"smaller granules, many more granules, rounded ...",NaN,4,D,9,4,4,9,1,3
26,4K20,smaller granules,NaN,4,K,20,4,11,20,1,3
27,4I15,smaller granules,NaN,4,I,15,4,9,15,1,3
28,5E13,"smaller granules, rounded cells",NaN,5,E,13,5,5,13,1,3
29,5M11,"smaller granules, many more granules, rounded ...",NaN,5,M,11,5,13,11,1,3
30,5E7,"smaller granules, rounded cells",NaN,5,E,7,5,5,7,1,3
31,7C9,"smaller granules, many more granules, rounded ...",NaN,7,C,9,7,3,9,1,3
32,1K21,"smaller granules, rounded cells",NaN,1,K,21,1,11,21,2,3
33,3O4,"smaller granules, rounded cells",NaN,3,O,4,3,15,4,2,3
34,6L16,smaller granules,NaN,6,L,16,6,12,16,2,4

In [12]:
#rename certain column names in the dataFrame marginal_hits
marginal_hits = marginal_hits.rename(columns = {6:'plate'})
marginal_hits = marginal_hits.rename(columns = {7:'row'})
marginal_hits = marginal_hits.rename(columns = {8:'column'})
marginal_hits = marginal_hits.rename(columns = {9:'cell type'})
marginal_hits = marginal_hits.rename(columns = {10:'screen'})

marginal_hits

,0,1,2,3,4,5,plate,row,column,cell type,screen
0,1B13,smaller granules,NaN,1,B,13,1,2,13,1,2
1,1N4,smaller granules,NaN,1,N,4,1,14,4,1,2
2,1D9,smaller granules,NaN,1,D,9,1,4,9,1,2
3,2G18,"smaller granules, many more granules, rounded ...",NaN,2,G,18,2,7,18,1,2
4,2E18,"smaller granules, many more granules, rounded ...",NaN,2,E,18,2,5,18,1,2
5,2G15,smaller granules,NaN,2,G,15,2,7,15,1,2
6,2G13,smaller granules,NaN,2,G,13,2,7,13,1,2
7,3P11,"smaller granules, many more granules, rounded ...",NaN,3,P,11,3,16,11,1,2
8,4N8,"autofluorescence, smaller granules",NaN,4,N,8,4,14,8,1,2
9,4P1,smaller granules,NaN,4,P,1,4,16,1,1,2
10,4A13,"smaller granules, many more granules, rounded ...",NaN,4,A,13,4,1,13,1,2
11,1F17,smaller granules,NaN,1,F,17,1,6,17,2,2
12,1M3,smaller granules,NaN,1,M,3,1,13,3,2,2
13,2C6,smaller granules,NaN,2,C,6,2,3,6,2,2
14,2J17,smaller granules,NaN,2,J,17,2,10,17,2,2
15,4N8,"autofluorescence, smaller granules",NaN,4,N,8,4,14,8,2,2
16,1D4,"smaller granules, many more granules, rounded ...",NaN,1,D,4,1,4,4,1,3
17,1I16,"smaller granules, many more granules, rounded ...",NaN,1,I,16,1,9,16,1,3
18,1J12,"smaller granules, rounded cells",NaN,1,J,12,1,10,12,1,3
19,2N3,"smaller granules, rounded cells",NaN,2,N,3,2,14,3,1,3
20,2L7,"smaller granules, rounded cells",NaN,2,L,7,2,12,7,1,3
21,2M8,"smaller granules, rounded cells",NaN,2,M,8,2,13,8,1,3
22,3P18,smaller granules,NaN,3,P,18,3,16,18,1,3
23,4O6,"smaller granules, rounded cells",NaN,4,O,6,4,15,6,1,3
24,4A13,"smaller granules, rounded cells",NaN,4,A,13,4,1,13,1,3
25,4D9,"smaller granules, many more granules, rounded ...",NaN,4,D,9,4,4,9,1,3
26,4K20,smaller granules,NaN,4,K,20,4,11,20,1,3
27,4I15,smaller granules,NaN,4,I,15,4,9,15,1,3
28,5E13,"smaller granules, rounded cells",NaN,5,E,13,5,5,13,1,3
29,5M11,"smaller granules, many more granules, rounded ...",NaN,5,M,11,5,13,11,1,3
30,5E7,"smaller granules, rounded cells",NaN,5,E,7,5,5,7,1,3
31,7C9,"smaller granules, many more granules, rounded ...",NaN,7,C,9,7,3,9,1,3
32,1K21,"smaller granules, rounded cells",NaN,1,K,21,1,11,21,2,3
33,3O4,"smaller granules, rounded cells",NaN,3,O,4,3,15,4,2,3
34,6L16,smaller granules,NaN,6,L,16,6,12,16,2,4

In [15]:
metadata_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Metadata/SG project/SG screening metadata/screen platemaps with plate, row, column info'

In [16]:
fda_in_metadata = pd.read_csv('{}/fda-in.csv'.format(metadata_folder))
fda_in_metadata.head()

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Unnamed: 8
0,SBI-0051396,SBI-0051396.P003,PN-016741.D08,A,1,1,3,2,PN-016741.D08 = Plate A
1,SBI-0206687,SBI-0206687.P002,PN-016741.D08,A,1,1,4,2,PN-016743.D08 = Plate C
2,SBI-0206671,SBI-0206671.P002,PN-016741.D08,A,1,1,5,2,PN-016742.D08 = Plate B
3,SBI-0206686,SBI-0206686.P002,PN-016741.D08,A,1,1,6,2,PN-016744.D08 = Plate D
4,SBI-0051330,SBI-0051330.P003,PN-016741.D08,A,1,1,7,2,NaN

In [17]:
spectrum_metadata = pd.read_csv('{}/spectrum.csv'.format(metadata_folder))
spectrum_metadata.head()

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Concentration
0,NaN,NaN,PN-020238.D03,A,1,1,1,3,0
1,NaN,NaN,PN-020238.D03,A,1,1,2,3,0
2,SBI-0051247,SBI-0051247.P001,PN-020238.D03,A,1,1,3,3,10
3,SBI-0050140,SBI-0050140.P002,PN-020238.D03,A,1,1,4,3,10
4,SBI-0051248,SBI-0051248.P001,PN-020238.D03,A,1,1,5,3,10

In [18]:
lopac_metadata = pd.read_csv('{}/lopac.csv'.format(metadata_folder))
lopac_metadata.head()

,Batch ID,Compound ID,Plate ID,Well ID,plate,row,column,screen,Concentration,Source,Vendor Compound ID
0,SBI-0049990.P002,SBI-0049990,PN-019803.D03,A,1,1,3,4,10,LOPAC,120693
1,SBI-0050069.P002,SBI-0050069,PN-019803.D03,A,1,1,4,4,10,LOPAC,A 7250
2,SBI-0049991.P002,SBI-0049991,PN-019803.D03,A,1,1,5,4,10,LOPAC,291552
3,SBI-0050070.P005,SBI-0050070,PN-019803.D03,A,1,1,6,4,10,LOPAC,A 7824
4,SBI-0049992.P002,SBI-0049992,PN-019803.D03,A,1,1,7,4,10,LOPAC,A 0500

In [19]:
prestwick_metadata = pd.read_csv('{}/prestwick.csv'.format(metadata_folder))
prestwick_metadata.head()

   Compound ID       Plate ID Well ID  plate  row  column  screen
0  SBI-0633778  PN-019859.D01       A      5    1       3       4
1  SBI-0053088  PN-019859.D01       A      5    1       4       4
2  SBI-0050732  PN-019859.D01       A      5    1       5       4
3  SBI-0051759  PN-019859.D01       A      5    1       6       4
4  SBI-0051006  PN-019859.D01       A      5    1       7       4

In [20]:
fda_in_id = pd.merge(fda_in_metadata, marginal_hits, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
fda_in_id

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Unnamed: 8,0,1,2,3,4,5,cell type
0,SBI-0051131,SBI-0051131.P004,PN-016741.D08,B,1,2,13,2,NaN,1B13,smaller granules,NaN,1,B,13,1
1,SBI-0051361,SBI-0051361.P003,PN-016741.D08,D,1,4,9,2,NaN,1D9,smaller granules,NaN,1,D,9,1
2,SBI-0051378,SBI-0051378.P003,PN-016741.D08,F,1,6,17,2,NaN,1F17,smaller granules,NaN,1,F,17,2
3,SBI-0051292,SBI-0051292.P003,PN-016741.D08,M,1,13,3,2,NaN,1M3,smaller granules,NaN,1,M,3,2
4,SBI-0051471,SBI-0051471.P003,PN-016741.D08,N,1,14,4,2,NaN,1N4,smaller granules,NaN,1,N,4,1
5,SBI-0051545,SBI-0051545.P002,PN-016742.D08,C,2,3,6,2,NaN,2C6,smaller granules,NaN,2,C,6,2
6,SBI-0052862,SBI-0052862.P002,PN-016742.D08,E,2,5,18,2,NaN,2E18,"smaller granules, many more granules, rounded ...",NaN,2,E,18,1
7,SBI-0051501,SBI-0051501.P003,PN-016742.D08,G,2,7,13,2,NaN,2G13,smaller granules,NaN,2,G,13,1
8,SBI-0050943,SBI-0050943.P004,PN-016742.D08,G,2,7,15,2,NaN,2G15,smaller granules,NaN,2,G,15,1
9,SBI-0051573,SBI-0051573.P002,PN-016742.D08,G,2,7,18,2,NaN,2G18,"smaller granules, many more granules, rounded ...",NaN,2,G,18,1
10,SBI-0051663,SBI-0051663.P002,PN-016742.D08,J,2,10,17,2,NaN,2J17,smaller granules,NaN,2,J,17,2
11,SBI-0206815,SBI-0206815.P001,PN-016743.D08,P,3,16,11,2,NaN,3P11,"smaller granules, many more granules, rounded ...",NaN,3,P,11,1
12,SBI-0050902,SBI-0050902.P003,PN-016744.D08,A,4,1,13,2,NaN,4A13,"smaller granules, many more granules, rounded ...",NaN,4,A,13,1
13,SBI-0051559,SBI-0051559.P002,PN-016744.D08,N,4,14,8,2,NaN,4N8,"autofluorescence, smaller granules",NaN,4,N,8,1
14,SBI-0051559,SBI-0051559.P002,PN-016744.D08,N,4,14,8,2,NaN,4N8,"autofluorescence, smaller granules",NaN,4,N,8,2

In [21]:
spectrum_id = pd.merge(spectrum_metadata, marginal_hits, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
spectrum_id

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Concentration,0,1,2,3,4,5,cell type
0,SBI-0050902,SBI-0050902.P002,PN-020238.D03,D,1,4,4,3,10,1D4,"smaller granules, many more granules, rounded ...",NaN,1,D,4,1
1,SBI-0051331,SBI-0051331.P001,PN-020238.D03,I,1,9,16,3,10,1I16,"smaller granules, many more granules, rounded ...",NaN,1,I,16,1
2,SBI-0051455,SBI-0051455.P001,PN-020238.D03,J,1,10,12,3,10,1J12,"smaller granules, rounded cells",NaN,1,J,12,1
3,SBI-0051292,SBI-0051292.P001,PN-020238.D03,K,1,11,21,3,10,1K21,"smaller granules, rounded cells",NaN,1,K,21,2
4,SBI-0051634,SBI-0051634.P001,PN-020239.D03,L,2,12,7,3,10,2L7,"smaller granules, rounded cells",NaN,2,L,7,1
5,SBI-0051583,SBI-0051583.P001,PN-020239.D03,M,2,13,8,3,10,2M8,"smaller granules, rounded cells",NaN,2,M,8,1
6,SBI-0051641,SBI-0051641.P001,PN-020239.D03,N,2,14,3,3,10,2N3,"smaller granules, rounded cells",NaN,2,N,3,1
7,SBI-0051833,SBI-0051833.P001,PN-020240.D03,O,3,15,4,3,10,3O4,"smaller granules, rounded cells",NaN,3,O,4,2
8,SBI-0051950,SBI-0051950.P001,PN-020240.D03,P,3,16,18,3,10,3P18,smaller granules,NaN,3,P,18,1
9,SBI-0051958,SBI-0051958.P001,PN-020241.D03,A,4,1,13,3,10,4A13,"smaller granules, rounded cells",NaN,4,A,13,1
10,SBI-0052126,SBI-0052126.P001,PN-020241.D03,D,4,4,9,3,10,4D9,"smaller granules, many more granules, rounded ...",NaN,4,D,9,1
11,SBI-0051999,SBI-0051999.P001,PN-020241.D03,I,4,9,15,3,10,4I15,smaller granules,NaN,4,I,15,1
12,SBI-0052091,SBI-0052091.P001,PN-020241.D03,K,4,11,20,3,10,4K20,smaller granules,NaN,4,K,20,1
13,SBI-0052104,SBI-0052104.P001,PN-020241.D03,O,4,15,6,3,10,4O6,"smaller granules, rounded cells",NaN,4,O,6,1
14,SBI-0052290,SBI-0052290.P001,PN-020242.D03,E,5,5,7,3,10,5E7,"smaller granules, rounded cells",NaN,5,E,7,1
15,SBI-0052293,SBI-0052293.P001,PN-020242.D03,E,5,5,13,3,10,5E13,"smaller granules, rounded cells",NaN,5,E,13,1
16,SBI-0052331,SBI-0052331.P001,PN-020242.D03,M,5,13,11,3,10,5M11,"smaller granules, many more granules, rounded ...",NaN,5,M,11,1
17,SBI-0052862,SBI-0052862.P001,PN-020244.D03,C,7,3,9,3,10,7C9,"smaller granules, many more granules, rounded ...",NaN,7,C,9,1

In [22]:
lopac_id = pd.merge(lopac_metadata, marginal_hits, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
lopac_id

Empty DataFrame
Columns: [Batch ID, Compound ID, Plate ID, Well ID, plate, row, column, screen, Concentration, Source, Vendor Compound ID, 0, 1, 2, 3, 4, 5, cell type]
Index: []

In [23]:
prestwick_id = pd.merge(prestwick_metadata, marginal_hits, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
prestwick_id

,Compound ID,Plate ID,Well ID,plate,row,column,screen,0,1,2,3,4,5,cell type
0,SBI-0051764,PN-019860.D01,L,6,12,16,4,6L16,smaller granules,NaN,6,L,16,2

In [24]:
with open ('{}/fda in marginal hit IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    fda_in_id.to_csv('{}/fda in marginal hit IDs.csv'.format(analyses_folder))
    
with open ('{}/spectrum marginal hit IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    spectrum_id.to_csv('{}/spectrum marginal hit IDs.csv'.format(analyses_folder))
    
with open ('{}/lopac marginal hit IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    lopac_id.to_csv('{}/lopac marginal hit IDs.csv'.format(analyses_folder))
    
with open ('{}/prestwick marginal hit IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    prestwick_id.to_csv('{}/prestwick marginal hit IDs.csv'.format(analyses_folder))