In [1]:
import pandas as pd
import numpy as np

In [49]:
arr_a = ['A','A','A','B','B','B']
arr_b = [1,2,3,1,2,3]

#zipping
zipper = zip(arr_a, arr_b)
print(zipper)

zipped = list(zipper)
print(zipped)

#unzipping
a, b = zip(*zipper)
print(a)
print(b)

indices = pd.MultiIndex.from_tuples(zipper, names = ['first dim', 'second dim'])
print(index)

eg = pd.Series(np.random.randn(6), index = indices)
print(eg)

df = pd.DataFrame(np.random.randn(6, 2), index = indices, columns = ['first repl', 'second repl'])

df  # This is the dataframe we have generated

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]
[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]
('A', 'A', 'A', 'B', 'B', 'B')
(1, 2, 3, 1, 2, 3)
first dim  second dim
A          1
           2
           3
B          1
           2
           3
first dim  second dim
A          1             0.378311
           2            -0.585164
           3             0.841408
B          1            -0.497312
           2            -0.627165
           3            -0.617975
dtype: float64

                      first repl  second repl
first dim second dim
A         1             1.417212    -0.079485
          2            -0.641592     0.998634
          3             0.152960    -0.121344
B         1            -0.420938     0.626597
          2             0.897611    -0.389639
          3            -0.438375    -1.365556