In [1]:
import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['a', 'b', 'c', 'd'])

#add new column to a dataframe
#df1['e'] = np.random.randn(10)
df1['e'] = 0
#df1['e'] = np.random.randn(1)


df1

          a         b         c         d  e
0  0.832157  0.229430 -0.490147  1.914329  0
1  1.347242  0.166303 -0.366428  0.518549  0
2  1.031834 -1.139792 -0.854190  0.915981  0
3 -1.698394  1.550522 -0.217250  1.176162  0
4 -0.498213 -1.491170 -0.310698  0.098150  0
5  0.111512 -0.596836  0.332071 -1.402941  0
6 -0.637744  0.631031 -0.774373  1.347731  0
7 -0.062214  0.923697 -0.483668 -1.704253  0
8 -0.221024  1.837167 -1.042690 -0.501895  0
9 -0.578375  2.004424 -0.608020  1.139545  0

In [3]:
print len(df1.index)

10

In [4]:
df1.shape

(10, 5)

In [5]:
df1 = df1.rename(columns = {'a': 'x'})

In [6]:
df1

          x         b         c         d  e
0  0.832157  0.229430 -0.490147  1.914329  0
1  1.347242  0.166303 -0.366428  0.518549  0
2  1.031834 -1.139792 -0.854190  0.915981  0
3 -1.698394  1.550522 -0.217250  1.176162  0
4 -0.498213 -1.491170 -0.310698  0.098150  0
5  0.111512 -0.596836  0.332071 -1.402941  0
6 -0.637744  0.631031 -0.774373  1.347731  0
7 -0.062214  0.923697 -0.483668 -1.704253  0
8 -0.221024  1.837167 -1.042690 -0.501895  0
9 -0.578375  2.004424 -0.608020  1.139545  0

In [7]:
df1 = df1.rename(columns = {'x': 'e'})

In [8]:
df1

          e         b         c         d  e
0  0.832157  0.229430 -0.490147  1.914329  0
1  1.347242  0.166303 -0.366428  0.518549  0
2  1.031834 -1.139792 -0.854190  0.915981  0
3 -1.698394  1.550522 -0.217250  1.176162  0
4 -0.498213 -1.491170 -0.310698  0.098150  0
5  0.111512 -0.596836  0.332071 -1.402941  0
6 -0.637744  0.631031 -0.774373  1.347731  0
7 -0.062214  0.923697 -0.483668 -1.704253  0
8 -0.221024  1.837167 -1.042690 -0.501895  0
9 -0.578375  2.004424 -0.608020  1.139545  0

In [9]:
def f(x):
    #print x['b']
    return x['b'] / x['c']


df1['f'] = df1.apply(f, axis = 1)

In [10]:
df1

          e         b         c         d  e         f
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638

In [11]:
abasdfasdf = 'f'

df1['f']
#df1[abasdfasdf]
#df1.column_name(abasdfasdf)

x = df1['f']
print x[2]

1.33435483904

In [12]:
sorteddf1 = df1.sort(['f'], axis = 0)
print df1
print sorteddf1

          e         b         c         d  e         f
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638
          e         b         c         d  e         f
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413

In [13]:
sorteddf1['g'] = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
sorteddf1

          e         b         c         d  e         f  g
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052  0
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638  0
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777  0
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318  0
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949  0
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893  1
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084  1
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848  1
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355  1
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413  1

In [27]:
sorteddf1['h'] = [2, 2, 2, 3, 3, 4, 4, 5, 5, 5]
sorteddf1

          e         b         c         d  e         f  g  h
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052  0  2
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638  0  2
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777  0  2
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318  0  3
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949  0  3
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893  1  4
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084  1  4
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848  1  5
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355  1  5
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413  1  5

In [30]:
for name, df in sorteddf1.groupby(['g', 'h']):
    print name
    print df

(0, 2)
          e         b         c         d  e         f  g  h
3 -1.698394  1.550522 -0.217250  1.176162  0 -7.137052  0  2
9 -0.578375  2.004424 -0.608020  1.139545  0 -3.296638  0  2
7 -0.062214  0.923697 -0.483668 -1.704253  0 -1.909777  0  2
(0, 3)
          e         b         c         d  e         f  g  h
5  0.111512 -0.596836  0.332071 -1.402941  0 -1.797318  0  3
8 -0.221024  1.837167 -1.042690 -0.501895  0 -1.761949  0  3
(1, 4)
          e         b         c         d  e         f  g  h
6 -0.637744  0.631031 -0.774373  1.347731  0 -0.814893  1  4
0  0.832157  0.229430 -0.490147  1.914329  0 -0.468084  1  4
(1, 5)
          e         b         c         d  e         f  g  h
1  1.347242  0.166303 -0.366428  0.518549  0 -0.453848  1  5
2  1.031834 -1.139792 -0.854190  0.915981  0  1.334355  1  5
4 -0.498213 -1.491170 -0.310698  0.098150  0  4.799413  1  5

In [14]:
avg_of_col_f = sorteddf1.groupby(['g'])['f'].mean()
avg_of_col_f

g
0   -3.180547
1    0.879389
Name: f, dtype: float64

In [15]:
aggregated_repl_of_col_f = sorteddf1.xs(['f', 'g'], axis = 1)
aggregated_repl_of_col_f = aggregated_repl_of_col_f.reset_index(drop = True)
aggregated_repl_of_col_f['h'] = [2, 2, 3, 3, 3, 4, 4, 5, 5, 5]
aggregated_repl_of_col_f

          f  g  h
0 -7.137052  0  2
1 -3.296638  0  2
2 -1.909777  0  3
3 -1.797318  0  3
4 -1.761949  0  3
5 -0.814893  1  4
6 -0.468084  1  4
7 -0.453848  1  5
8  1.334355  1  5
9  4.799413  1  5

In [16]:
gb = aggregated_repl_of_col_f.groupby(('g', 'h'))
result = gb['f'].unique()
#result.reset_index(inplace=True) #lastly, reset the index
result

g  h
0  2                    [-7.13705231004, -3.29663821835]
   3    [-1.90977686033, -1.79731757027, -1.76194913556]
1  4                  [-0.814892938326, -0.468084304458]
   5     [-0.453847580497, 1.33435483904, 4.79941316712]
Name: f, dtype: object

In [17]:
result = result.to_frame()
result

                                                    f
g h
0 2                  [-7.13705231004, -3.29663821835]
  3  [-1.90977686033, -1.79731757027, -1.76194913556]
1 4                [-0.814892938326, -0.468084304458]
  5   [-0.453847580497, 1.33435483904, 4.79941316712]

In [18]:
result['i'] = [0, 1, 2, 3]

result['j'] = [0.01, 0.01, 0.01, 0.05]

result

                                                    f  i     j
g h
0 2                  [-7.13705231004, -3.29663821835]  0  0.01
  3  [-1.90977686033, -1.79731757027, -1.76194913556]  1  0.01
1 4                [-0.814892938326, -0.468084304458]  2  0.01
  5   [-0.453847580497, 1.33435483904, 4.79941316712]  3  0.05

In [19]:
#result_analyses = result.reset_index()

#result_analyses = result_analyses.groupby(['g', 'h'])['f'].mean()

#result_analyses

In [20]:
result.loc[(1, 5)]

f    [-0.453847580497, 1.33435483904, 4.79941316712]
i                                                  3
j                                               0.05
Name: (1, 5), dtype: object

In [21]:
for group_name, group_df in result.groupby(level = 0):
    print group_name
    print group_df

0
                                                    f  i     j
g h
0 2                  [-7.13705231004, -3.29663821835]  0  0.01
  3  [-1.90977686033, -1.79731757027, -1.76194913556]  1  0.01
1
                                                   f  i     j
g h
1 4               [-0.814892938326, -0.468084304458]  2  0.01
  5  [-0.453847580497, 1.33435483904, 4.79941316712]  3  0.05

In [22]:
df = result.reset_index()
df

   g  h                                                 f  i     j
0  0  2                  [-7.13705231004, -3.29663821835]  0  0.01
1  0  3  [-1.90977686033, -1.79731757027, -1.76194913556]  1  0.01
2  1  4                [-0.814892938326, -0.468084304458]  2  0.01
3  1  5   [-0.453847580497, 1.33435483904, 4.79941316712]  3  0.05

In [23]:
df.loc[3]

g                                                  1
h                                                  5
f    [-0.453847580497, 1.33435483904, 4.79941316712]
i                                                  3
j                                               0.05
Name: 3, dtype: object

In [24]:

for x in df.groupby('g'):
    print x

(0,    g  h                                                 f  i     j
0  0  2                  [-7.13705231004, -3.29663821835]  0  0.01
1  0  3  [-1.90977686033, -1.79731757027, -1.76194913556]  1  0.01)
(1,    g  h                                                f  i     j
2  1  4               [-0.814892938326, -0.468084304458]  2  0.01
3  1  5  [-0.453847580497, 1.33435483904, 4.79941316712]  3  0.05)

In [25]:
result_index_g = result.index.levels[0]

for x in result.iter:
    print 'aha'
    
    print result['{}'.format(x)]

AttributeError: 'DataFrame' object has no attribute 'iter'