In [21]:
import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd
import re

In [22]:
df = pd.DataFrame

In [23]:
df

pandas.core.frame.DataFrame

In [24]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['a', 'b', 'c', 'd'])
df1

          a         b         c         d
0  0.151305  1.861894 -0.235728  0.066373
1  0.049152 -0.493777  1.470238  0.510024
2 -0.413223  1.537732  0.396859  0.771860
3  0.677021 -1.207244 -0.973495  0.659957
4 -0.578008  0.024338  0.036016  0.119123
5  1.676271 -0.096939  0.139283 -0.395822
6  1.240279 -0.084605 -0.568702  0.186452
7 -0.561818  1.534539  0.145453  0.195168
8 -1.586945 -0.471717 -0.989430 -0.587417
9 -0.848745  0.240944  0.920748  0.275217

In [25]:
df = df1

In [26]:
df

          a         b         c         d
0  0.151305  1.861894 -0.235728  0.066373
1  0.049152 -0.493777  1.470238  0.510024
2 -0.413223  1.537732  0.396859  0.771860
3  0.677021 -1.207244 -0.973495  0.659957
4 -0.578008  0.024338  0.036016  0.119123
5  1.676271 -0.096939  0.139283 -0.395822
6  1.240279 -0.084605 -0.568702  0.186452
7 -0.561818  1.534539  0.145453  0.195168
8 -1.586945 -0.471717 -0.989430 -0.587417
9 -0.848745  0.240944  0.920748  0.275217

In [36]:
stra = 'asdfasdf'
strb = 'asdasdf'

#use backslash to escape regular expression operators, such as . so this backslash forces
#python to interpret the period as a period character, not as a special regex operator
match = re.search('asd.asdf', stra)
match

if match:
    print 'haha'
    
if 'asd' in stra:
    print strb

haha
asdasdf