In [25]:
import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd

In [26]:
#cell type dictionary keys
HEK293XT = 1
CVB_SMNPC = 2

#screen dictionary keys
UCSF_GENEN = 1
FDA_IN = 2
SPECTRUM = 3
LOPAC_PRESTWICK = 4
TPIMS = 5

In [27]:
analyses_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Data - analyses/SG project/screening/analyses of large screens/150724 find hit compound IDs/'

#the {} is replaced by the argument in the string function .format()
#header = None means do NOT take the first row as column names for the dataframe being created by pd.read_csv
potential_hits = pd.read_csv('{}/150722 hits RVM coord.csv'.format(analyses_folder), header = None)

potential_hits.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [28]:

potential_hits = potential_hits.rename(columns = {3:'plate'})
potential_hits = potential_hits.rename(columns = {4:'row'})
potential_hits = potential_hits.rename(columns = {5:'column'})
potential_hits = potential_hits.rename(columns = {6:'cell type'})
potential_hits = potential_hits.rename(columns = {7:'screen'})

potential_hits

,0,1,2,plate,row,column,cell type,screen,8,9,10,11,12,13,14,15
0,1,-17.776827,0.001330,1,3,12,2,1,-9.624346,-20.438325,-23.267810,NaN,NaN,NaN,NaN,NaN
1,2,-12.042344,0.007943,1,5,7,2,1,-3.952606,-13.679314,-18.495112,NaN,NaN,NaN,NaN,NaN
2,3,-5.122026,0.002983,1,4,2,2,1,-5.457749,-6.720645,-3.187683,NaN,NaN,NaN,NaN,NaN
3,4,-5.038040,0.033865,1,1,12,2,1,-1.280210,-9.787875,-4.046035,NaN,NaN,NaN,NaN,NaN
4,1,-29.779620,0.000762,1,3,12,1,1,-15.229661,-33.973122,-26.756710,-43.158985,NaN,NaN,NaN,NaN
5,2,-25.502314,0.000383,1,4,6,1,1,-17.997271,-23.980078,-21.947628,-38.084278,NaN,NaN,NaN,NaN
6,3,-11.250704,0.001471,1,2,5,1,1,-12.482662,-17.397397,-5.849027,-9.273727,NaN,NaN,NaN,NaN
7,4,-10.217136,0.028825,1,5,7,1,1,-7.416973,-23.080282,-1.210083,-9.161204,NaN,NaN,NaN,NaN
8,5,-3.773352,0.015033,1,2,8,1,1,-2.887928,-3.350526,-1.537929,-7.317026,NaN,NaN,NaN,NaN
9,6,-2.862335,0.048196,1,4,9,1,1,-5.333632,-1.250382,-4.865326,0.000000,NaN,NaN,NaN,NaN
10,7,-2.321704,0.008426,1,5,6,1,1,-2.568910,-1.892115,-2.649525,-2.176264,NaN,NaN,NaN,NaN
11,1,-14.171901,0.000130,2,5,6,2,2,-18.956172,-13.425807,-10.133725,NaN,NaN,NaN,NaN,NaN
12,2,-12.341163,0.000069,1,14,6,2,2,-8.652078,-13.525025,-14.846387,NaN,NaN,NaN,NaN,NaN
13,3,-12.185221,0.000564,4,5,22,2,2,-16.524790,-13.470360,-6.560514,NaN,NaN,NaN,NaN,NaN
14,4,-12.135422,0.000002,2,14,16,2,2,-12.466832,-12.660363,-11.279072,NaN,NaN,NaN,NaN,NaN
15,5,-10.854783,0.000023,1,2,9,2,2,-8.591526,-12.365597,-11.607225,NaN,NaN,NaN,NaN,NaN
16,6,-9.412080,0.000089,3,2,12,2,2,-11.450893,-6.839375,-9.945972,NaN,NaN,NaN,NaN,NaN
17,7,-7.293325,0.000538,1,5,9,2,2,-4.305235,-8.296194,-9.278545,NaN,NaN,NaN,NaN,NaN
18,8,-7.230278,0.000090,2,11,6,2,2,-5.948967,-8.671118,-7.070748,NaN,NaN,NaN,NaN,NaN
19,9,-7.029778,0.000056,4,14,8,2,2,-7.788776,-6.051120,-7.249437,NaN,NaN,NaN,NaN,NaN
20,10,-7.015098,0.000042,2,4,14,2,2,-7.575950,-7.086114,-6.383229,NaN,NaN,NaN,NaN,NaN
21,11,-6.693140,0.000375,1,6,17,2,2,-4.702437,-6.583388,-8.793596,NaN,NaN,NaN,NaN,NaN
22,12,-6.561803,0.000048,1,1,5,2,2,-6.351689,-6.791155,-6.542565,NaN,NaN,NaN,NaN,NaN
23,13,-6.558346,0.000458,2,16,18,2,2,-5.182607,-5.503531,-8.988900,NaN,NaN,NaN,NaN,NaN
24,14,-6.528862,0.000302,3,9,5,2,2,-5.917852,-8.561304,-5.107429,NaN,NaN,NaN,NaN,NaN
25,15,-6.366503,0.000353,3,5,13,2,2,-7.544044,-7.285216,-4.270249,NaN,NaN,NaN,NaN,NaN
26,16,-5.631517,0.000111,2,3,6,2,2,-5.707832,-5.713689,-5.473031,NaN,NaN,NaN,NaN,NaN
27,17,-5.554437,0.000505,1,15,10,2,2,-3.767502,-6.634472,-6.261336,NaN,NaN,NaN,NaN,NaN
28,18,-5.206308,0.000652,1,3,15,2,2,-3.554687,-5.597657,-6.466582,NaN,NaN,NaN,NaN,NaN
29,19,-5.177185,0.000749,4,15,21,2,2,-4.540959,-6.969164,-4.021432,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,11,-4.464334,0.017361,4,5,8,2,5,-2.411206,-6.517461,NaN,NaN,NaN,NaN,NaN,NaN
108,12,-4.445326,0.004888,2,4,1,2,5,-4.829724,-4.060928,NaN,NaN,NaN,NaN,NaN,NaN
109,13,-4.430017,0.032748,1,2,1,2,5,-1.660877,-7.199157,NaN,NaN,NaN,NaN,NaN,NaN
110,14,-4.214234,0.005755,3,7,4,2,5,-4.298168,-4.130300,NaN,NaN,NaN,NaN,NaN,NaN
111,15,-4.191514,0.007093,1,3,1,2,5,-3.543014,-4.840014,NaN,NaN,NaN,NaN,NaN,NaN
112,16,-4.008972,0.009504,4,1,3,2,5,-3.181987,-4.835957,NaN,NaN,NaN,NaN,NaN,NaN
113,17,-3.935033,0.011844,2,6,7,2,5,-2.901113,-4.968952,NaN,NaN,NaN,NaN,NaN,NaN
114,18,-3.882167,0.014790,1,3,5,2,5,-5.133784,-2.630550,NaN,NaN,NaN,NaN,NaN,NaN
115,19,-3.829141,0.046844,1,5,7,2,5,-1.226626,-6.431657,NaN,NaN,NaN,NaN,NaN,NaN
116,20,-3.769290,0.017902,2,5,2,2,5,-2.421518,-5.117062,NaN,NaN,NaN,NaN,NaN,NaN
117,21,-3.330711,0.015380,1,7,3,2,5,-3.088512,-3.572910,NaN,NaN,NaN,NaN,NaN,NaN
118,22,-3.057302,0.024966,3,8,6,2,5,-2.368095,-3.746509,NaN,NaN,NaN,NaN,NaN,NaN
119,23,-3.042910,0.044212,2,3,4,2,5,-1.502807,-4.583013,NaN,NaN,NaN,NaN,NaN,NaN
120,24,-2.975933,0.044186,1,1,1,2,5,-1.536921,-4.414945,NaN,NaN,NaN,NaN,NaN,NaN
121,25,-2.854147,0.028258,4,5,1,2,5,-3.238022,-2.470271,NaN,NaN,NaN,NaN,NaN,NaN
122,26,-2.746462,0.031221,1,8,6,2,5,-2.511520,-2.981404,NaN,NaN,NaN,NaN,NaN,NaN
123,27,-2.601653,0.039349,4,7,2,2,5,-3.028863,-2.174444,NaN,NaN,NaN,NaN,NaN,NaN
124,28,-2.495319,0.044017,1,8,8,2,5,-2.829260,-2.161378,NaN,NaN,NaN,NaN,NaN,NaN
125,1,-4.946689,0.029539,4,2,1,1,5,-6.749231,-3.144148,NaN,NaN,NaN,NaN,NaN,NaN
126,2,-4.212548,0.008705,4,7,3,1,5,-3.888645,-4.536452,NaN,NaN,NaN,NaN,NaN,NaN
127,3,-3.933092,0.016301,4,6,8,1,5,-3.159832,-4.706353,NaN,NaN,NaN,NaN,NaN,NaN
128,4,-3.109634,0.031827,4,3,10,1,5,-3.933189,-2.286079,NaN,NaN,NaN,NaN,NaN,NaN
129,5,-2.989671,0.047998,4,5,4,1,5,-1.888009,-4.091333,NaN,NaN,NaN,NaN,NaN,NaN
130,6,-2.939596,0.024575,3,5,9,1,5,-2.517880,-3.361313,NaN,NaN,NaN,NaN,NaN,NaN
131,7,-2.813228,0.031666,1,5,3,1,5,-3.392398,-2.234057,NaN,NaN,NaN,NaN,NaN,NaN
132,8,-2.737693,0.028184,4,6,10,1,5,-2.376953,-3.098432,NaN,NaN,NaN,NaN,NaN,NaN
133,9,-2.687814,0.038458,4,6,9,1,5,-2.028110,-3.347517,NaN,NaN,NaN,NaN,NaN,NaN
134,10,-2.468648,0.048872,3,1,1,1,5,-1.777449,-3.159847,NaN,NaN,NaN,NaN,NaN,NaN
135,11,-2.198539,0.045117,2,6,2,1,5,-1.971348,-2.425730,NaN,NaN,NaN,NaN,NaN,NaN
136,12,-2.110363,0.049095,3,1,10,1,5,-2.302726,-1.918001,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
false_pos = pd.read_csv('{}/150724 false positives.csv'.format(analyses_folder), header = None)

false_pos.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [30]:

false_pos = false_pos.rename(columns = {6:'plate'})
false_pos = false_pos.rename(columns = {7:'row'})
false_pos = false_pos.rename(columns = {8:'column'})
false_pos = false_pos.rename(columns = {9:'cell type'})
false_pos = false_pos.rename(columns = {10:'screen'})
false_pos = false_pos.rename(columns = {11:'true pos'})


false_pos

,0,1,2,3,4,5,plate,row,column,cell type,screen,true pos
0,1B9 � dead cells,NaN,NaN,1,b,9,1,2,9,1,2,0
1,1B13 � granules,NaN,NaN,1,b,13,1,2,13,1,2,0
2,1N4 � granules and dead cells,NaN,NaN,1,n,4,1,14,4,1,2,0
3,1D9 � granules,NaN,NaN,1,d,9,1,4,9,1,2,0
4,2G18 � granules,NaN,NaN,2,g,18,2,7,18,1,2,0
5,"2E18 � small granules, rounded cells",NaN,NaN,2,e,18,2,5,18,1,2,0
6,2G15 � granules,NaN,NaN,2,g,15,2,7,15,1,2,0
7,2G13 � granules,NaN,NaN,2,g,13,2,7,13,1,2,0
8,"3P11 � small granules, rounded cells",NaN,NaN,3,p,11,3,16,11,1,2,0
9,4N8 � granules and autofluorescence,NaN,NaN,4,n,8,4,14,8,1,2,0
10,4P1 � granules and dead cells,NaN,NaN,4,p,1,4,16,1,1,2,0
11,"4A13 � small granules, rounded cells",NaN,NaN,4,a,13,4,1,13,1,2,0
12,1B9 � dead cells,NaN,NaN,1,b,9,1,2,9,2,2,0
13,"1F17 � granules, rounded cells",NaN,NaN,1,f,17,1,6,17,2,2,0
14,"1M3 � small granules, rounded cells",NaN,NaN,1,m,3,1,13,3,2,2,0
15,2E6 � dead cells,NaN,NaN,2,e,6,2,5,6,2,2,0
16,2P18 � dead cells,NaN,NaN,2,p,18,2,16,18,2,2,0
17,"2C6 � small granules, rounded cells",NaN,NaN,2,c,6,2,3,6,2,2,0
18,2J17 � small granules,NaN,NaN,2,j,17,2,10,17,2,2,0
19,3E13 � dead cells,NaN,NaN,3,e,13,3,5,13,2,2,0
20,4E22 � dead cells,NaN,NaN,4,e,22,4,5,22,2,2,0
21,"4N8 � small granules, autofluorescence",NaN,NaN,4,n,8,4,14,8,2,2,0
22,1C17 � dead cells,NaN,NaN,1,c,17,1,3,17,1,3,0
23,"1D4 � small granules, dead cells",NaN,NaN,1,d,4,1,4,4,1,3,0
24,"1I16 � small granules, dead cells",NaN,NaN,1,i,16,1,9,16,1,3,0
25,"1J12 � small granules, dead cells",NaN,NaN,1,j,12,1,10,12,1,3,0
26,"2N3 � small granules, dead cells",NaN,NaN,2,n,3,2,14,3,1,3,0
27,"2L7 � small granules, dead cells",NaN,NaN,2,l,7,2,12,7,1,3,0
28,"2M8 � small granules, dead cells",NaN,NaN,2,m,8,2,13,8,1,3,0
29,3P18 � dead cells,NaN,NaN,3,p,18,3,16,18,1,3,0
30,"4O6 � small granules, dead cells",NaN,NaN,4,o,6,4,15,6,1,3,0
31,"4A13 � small granules, dead cells",NaN,NaN,4,a,13,4,1,13,1,3,0
32,4D9 � dead cells,NaN,NaN,4,d,9,4,4,9,1,3,0
33,"4K20 � granules, dead cells",NaN,NaN,4,k,20,4,11,20,1,3,0
34,4I15 � dead cells,NaN,NaN,4,i,15,4,9,15,1,3,0
35,5E13 � dead cells,NaN,NaN,5,e,13,5,5,13,1,3,0
36,5M11 � dead cells,NaN,NaN,5,m,11,5,13,11,1,3,0
37,5E7 � dead cells,NaN,NaN,5,e,7,5,5,7,1,3,0
38,7C9 � dead cells,NaN,NaN,7,c,9,7,3,9,1,3,0
39,1K21 � dead cells,NaN,NaN,1,k,21,1,11,21,2,3,0
40,3O4 � dead cells,NaN,NaN,3,o,4,3,15,4,2,3,0
41,4K20 � dead cells,NaN,NaN,4,k,20,4,11,20,2,3,0
42,1H6 � dead cells,NaN,NaN,1,h,6,1,8,6,2,4,0
43,3P24 � dead cells,NaN,NaN,3,p,24,3,16,24,2,4,0
44,6L16 � dead cells,NaN,NaN,6,l,16,6,12,16,2,4,0

In [31]:
false_pos_coord = false_pos.loc[:, 'plate':'true pos']
false_pos_coord
false_pos_coord.columns.values

array(['plate', 'row', 'column', 'cell type', 'screen', 'true pos'], dtype=object)

In [32]:
true_and_false_pos = pd.merge(potential_hits, false_pos_coord, how = 'outer', on = ['plate', 'row', 'column', 'cell type', 'screen'])
true_and_false_pos

,0,1,2,plate,row,column,cell type,screen,8,9,10,11,12,13,14,15,true pos
0,1,-17.776827,0.001330,1,3,12,2,1,-9.624346,-20.438325,-23.267810,NaN,NaN,NaN,NaN,NaN,NaN
1,2,-12.042344,0.007943,1,5,7,2,1,-3.952606,-13.679314,-18.495112,NaN,NaN,NaN,NaN,NaN,NaN
2,3,-5.122026,0.002983,1,4,2,2,1,-5.457749,-6.720645,-3.187683,NaN,NaN,NaN,NaN,NaN,NaN
3,4,-5.038040,0.033865,1,1,12,2,1,-1.280210,-9.787875,-4.046035,NaN,NaN,NaN,NaN,NaN,NaN
4,1,-29.779620,0.000762,1,3,12,1,1,-15.229661,-33.973122,-26.756710,-43.158985,NaN,NaN,NaN,NaN,NaN
5,2,-25.502314,0.000383,1,4,6,1,1,-17.997271,-23.980078,-21.947628,-38.084278,NaN,NaN,NaN,NaN,NaN
6,3,-11.250704,0.001471,1,2,5,1,1,-12.482662,-17.397397,-5.849027,-9.273727,NaN,NaN,NaN,NaN,NaN
7,4,-10.217136,0.028825,1,5,7,1,1,-7.416973,-23.080282,-1.210083,-9.161204,NaN,NaN,NaN,NaN,NaN
8,5,-3.773352,0.015033,1,2,8,1,1,-2.887928,-3.350526,-1.537929,-7.317026,NaN,NaN,NaN,NaN,NaN
9,6,-2.862335,0.048196,1,4,9,1,1,-5.333632,-1.250382,-4.865326,0.000000,NaN,NaN,NaN,NaN,NaN
10,7,-2.321704,0.008426,1,5,6,1,1,-2.568910,-1.892115,-2.649525,-2.176264,NaN,NaN,NaN,NaN,NaN
11,1,-14.171901,0.000130,2,5,6,2,2,-18.956172,-13.425807,-10.133725,NaN,NaN,NaN,NaN,NaN,0
12,2,-12.341163,0.000069,1,14,6,2,2,-8.652078,-13.525025,-14.846387,NaN,NaN,NaN,NaN,NaN,NaN
13,3,-12.185221,0.000564,4,5,22,2,2,-16.524790,-13.470360,-6.560514,NaN,NaN,NaN,NaN,NaN,0
14,4,-12.135422,0.000002,2,14,16,2,2,-12.466832,-12.660363,-11.279072,NaN,NaN,NaN,NaN,NaN,NaN
15,5,-10.854783,0.000023,1,2,9,2,2,-8.591526,-12.365597,-11.607225,NaN,NaN,NaN,NaN,NaN,0
16,6,-9.412080,0.000089,3,2,12,2,2,-11.450893,-6.839375,-9.945972,NaN,NaN,NaN,NaN,NaN,NaN
17,7,-7.293325,0.000538,1,5,9,2,2,-4.305235,-8.296194,-9.278545,NaN,NaN,NaN,NaN,NaN,NaN
18,8,-7.230278,0.000090,2,11,6,2,2,-5.948967,-8.671118,-7.070748,NaN,NaN,NaN,NaN,NaN,NaN
19,9,-7.029778,0.000056,4,14,8,2,2,-7.788776,-6.051120,-7.249437,NaN,NaN,NaN,NaN,NaN,0
20,10,-7.015098,0.000042,2,4,14,2,2,-7.575950,-7.086114,-6.383229,NaN,NaN,NaN,NaN,NaN,NaN
21,11,-6.693140,0.000375,1,6,17,2,2,-4.702437,-6.583388,-8.793596,NaN,NaN,NaN,NaN,NaN,0
22,12,-6.561803,0.000048,1,1,5,2,2,-6.351689,-6.791155,-6.542565,NaN,NaN,NaN,NaN,NaN,NaN
23,13,-6.558346,0.000458,2,16,18,2,2,-5.182607,-5.503531,-8.988900,NaN,NaN,NaN,NaN,NaN,0
24,14,-6.528862,0.000302,3,9,5,2,2,-5.917852,-8.561304,-5.107429,NaN,NaN,NaN,NaN,NaN,NaN
25,15,-6.366503,0.000353,3,5,13,2,2,-7.544044,-7.285216,-4.270249,NaN,NaN,NaN,NaN,NaN,0
26,16,-5.631517,0.000111,2,3,6,2,2,-5.707832,-5.713689,-5.473031,NaN,NaN,NaN,NaN,NaN,0
27,17,-5.554437,0.000505,1,15,10,2,2,-3.767502,-6.634472,-6.261336,NaN,NaN,NaN,NaN,NaN,NaN
28,18,-5.206308,0.000652,1,3,15,2,2,-3.554687,-5.597657,-6.466582,NaN,NaN,NaN,NaN,NaN,NaN
29,19,-5.177185,0.000749,4,15,21,2,2,-4.540959,-6.969164,-4.021432,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,11,-4.464334,0.017361,4,5,8,2,5,-2.411206,-6.517461,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,12,-4.445326,0.004888,2,4,1,2,5,-4.829724,-4.060928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,13,-4.430017,0.032748,1,2,1,2,5,-1.660877,-7.199157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,14,-4.214234,0.005755,3,7,4,2,5,-4.298168,-4.130300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,15,-4.191514,0.007093,1,3,1,2,5,-3.543014,-4.840014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,16,-4.008972,0.009504,4,1,3,2,5,-3.181987,-4.835957,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,17,-3.935033,0.011844,2,6,7,2,5,-2.901113,-4.968952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,18,-3.882167,0.014790,1,3,5,2,5,-5.133784,-2.630550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,19,-3.829141,0.046844,1,5,7,2,5,-1.226626,-6.431657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,20,-3.769290,0.017902,2,5,2,2,5,-2.421518,-5.117062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,21,-3.330711,0.015380,1,7,3,2,5,-3.088512,-3.572910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,22,-3.057302,0.024966,3,8,6,2,5,-2.368095,-3.746509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,23,-3.042910,0.044212,2,3,4,2,5,-1.502807,-4.583013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,24,-2.975933,0.044186,1,1,1,2,5,-1.536921,-4.414945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,25,-2.854147,0.028258,4,5,1,2,5,-3.238022,-2.470271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,26,-2.746462,0.031221,1,8,6,2,5,-2.511520,-2.981404,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,27,-2.601653,0.039349,4,7,2,2,5,-3.028863,-2.174444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,28,-2.495319,0.044017,1,8,8,2,5,-2.829260,-2.161378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,1,-4.946689,0.029539,4,2,1,1,5,-6.749231,-3.144148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2,-4.212548,0.008705,4,7,3,1,5,-3.888645,-4.536452,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,3,-3.933092,0.016301,4,6,8,1,5,-3.159832,-4.706353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,4,-3.109634,0.031827,4,3,10,1,5,-3.933189,-2.286079,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,5,-2.989671,0.047998,4,5,4,1,5,-1.888009,-4.091333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,6,-2.939596,0.024575,3,5,9,1,5,-2.517880,-3.361313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,7,-2.813228,0.031666,1,5,3,1,5,-3.392398,-2.234057,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,8,-2.737693,0.028184,4,6,10,1,5,-2.376953,-3.098432,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,9,-2.687814,0.038458,4,6,9,1,5,-2.028110,-3.347517,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,10,-2.468648,0.048872,3,1,1,1,5,-1.777449,-3.159847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,11,-2.198539,0.045117,2,6,2,1,5,-1.971348,-2.425730,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,12,-2.110363,0.049095,3,1,10,1,5,-2.302726,-1.918001,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
list(true_and_false_pos.columns.values)
true_pos = true_and_false_pos.loc[true_and_false_pos.loc[:,'true pos'] != 0, :]
#true_and_false_pos.loc[true_and_false_pos.loc["true_pos"] != 0, :]
true_pos = true_pos.loc[true_pos.loc[:, 'screen'] != 1, :]
true_pos = true_pos.loc[true_pos.loc[:, 'screen'] != 5, :]
true_pos.shape

#true_pos

(41, 17)

In [34]:
metadata_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Metadata/SG project/SG screening metadata/screen platemaps with plate, row, column info'

In [35]:
fda_in_metadata = pd.read_csv('{}/fda-in.csv'.format(metadata_folder))
fda_in_metadata.head()

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Unnamed: 8
0,SBI-0051396,SBI-0051396.P003,PN-016741.D08,A,1,1,3,2,PN-016741.D08 = Plate A
1,SBI-0206687,SBI-0206687.P002,PN-016741.D08,A,1,1,4,2,PN-016743.D08 = Plate C
2,SBI-0206671,SBI-0206671.P002,PN-016741.D08,A,1,1,5,2,PN-016742.D08 = Plate B
3,SBI-0206686,SBI-0206686.P002,PN-016741.D08,A,1,1,6,2,PN-016744.D08 = Plate D
4,SBI-0051330,SBI-0051330.P003,PN-016741.D08,A,1,1,7,2,NaN

In [36]:
spectrum_metadata = pd.read_csv('{}/spectrum.csv'.format(metadata_folder))
spectrum_metadata.head()

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Concentration
0,NaN,NaN,PN-020238.D03,A,1,1,1,3,0
1,NaN,NaN,PN-020238.D03,A,1,1,2,3,0
2,SBI-0051247,SBI-0051247.P001,PN-020238.D03,A,1,1,3,3,10
3,SBI-0050140,SBI-0050140.P002,PN-020238.D03,A,1,1,4,3,10
4,SBI-0051248,SBI-0051248.P001,PN-020238.D03,A,1,1,5,3,10

In [37]:
lopac_metadata = pd.read_csv('{}/lopac.csv'.format(metadata_folder))
lopac_metadata.head()

,Batch ID,Compound ID,Plate ID,Well ID,plate,row,column,screen,Concentration,Source,Vendor Compound ID
0,SBI-0049990.P002,SBI-0049990,PN-019803.D03,A,1,1,3,4,10,LOPAC,120693
1,SBI-0050069.P002,SBI-0050069,PN-019803.D03,A,1,1,4,4,10,LOPAC,A 7250
2,SBI-0049991.P002,SBI-0049991,PN-019803.D03,A,1,1,5,4,10,LOPAC,291552
3,SBI-0050070.P005,SBI-0050070,PN-019803.D03,A,1,1,6,4,10,LOPAC,A 7824
4,SBI-0049992.P002,SBI-0049992,PN-019803.D03,A,1,1,7,4,10,LOPAC,A 0500

In [38]:
prestwick_metadata = pd.read_csv('{}/prestwick.csv'.format(metadata_folder))
prestwick_metadata.head()

   Compound ID       Plate ID Well ID  plate  row  column  screen
0  SBI-0633778  PN-019859.D01       A      5    1       3       4
1  SBI-0053088  PN-019859.D01       A      5    1       4       4
2  SBI-0050732  PN-019859.D01       A      5    1       5       4
3  SBI-0051759  PN-019859.D01       A      5    1       6       4
4  SBI-0051006  PN-019859.D01       A      5    1       7       4

In [43]:
fda_in_id = pd.merge(fda_in_metadata, true_pos, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
fda_in_id

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Unnamed: 8,0,...,cell type,8,9,10,11,12,13,14,15,true pos
0,SBI-0206671,SBI-0206671.P002,PN-016741.D08,A,1,1,5,2,PN-016742.D08 = Plate B,12,...,2,-6.351689,-6.791155,-6.542565,NaN,NaN,NaN,NaN,NaN,NaN
1,SBI-0206671,SBI-0206671.P002,PN-016741.D08,A,1,1,5,2,PN-016742.D08 = Plate B,4,...,1,-29.234486,-33.183121,-29.221889,NaN,NaN,NaN,NaN,NaN,NaN
2,SBI-0206669,SBI-0206669.P002,PN-016741.D08,C,1,3,15,2,NaN,18,...,2,-3.554687,-5.597657,-6.466582,NaN,NaN,NaN,NaN,NaN,NaN
3,SBI-0206676,SBI-0206676.P002,PN-016741.D08,E,1,5,9,2,NaN,7,...,2,-4.305235,-8.296194,-9.278545,NaN,NaN,NaN,NaN,NaN,NaN
4,SBI-0051395,SBI-0051395.P003,PN-016741.D08,J,1,10,9,2,NaN,2,...,1,-34.197711,-42.336816,-36.874677,NaN,NaN,NaN,NaN,NaN,NaN
5,SBI-0051472,SBI-0051472.P003,PN-016741.D08,N,1,14,6,2,NaN,2,...,2,-8.652078,-13.525025,-14.846387,NaN,NaN,NaN,NaN,NaN,NaN
6,SBI-0051348,SBI-0051348.P003,PN-016741.D08,O,1,15,10,2,NaN,17,...,2,-3.767502,-6.634472,-6.261336,NaN,NaN,NaN,NaN,NaN,NaN
7,SBI-0051348,SBI-0051348.P003,PN-016741.D08,O,1,15,10,2,NaN,5,...,1,-24.367210,-34.626130,-28.610547,NaN,NaN,NaN,NaN,NaN,NaN
8,SBI-0052454,SBI-0052454.P003,PN-016741.D08,O,1,15,12,2,NaN,8,...,1,-24.864049,-26.094492,-24.592501,NaN,NaN,NaN,NaN,NaN,NaN
9,SBI-0051732,SBI-0051732.P002,PN-016742.D08,D,2,4,14,2,NaN,10,...,2,-7.575950,-7.086114,-6.383229,NaN,NaN,NaN,NaN,NaN,NaN
10,SBI-0051732,SBI-0051732.P002,PN-016742.D08,D,2,4,14,2,NaN,3,...,1,-33.109468,-24.966085,-36.476808,NaN,NaN,NaN,NaN,NaN,NaN
11,SBI-0051590,SBI-0051590.P003,PN-016742.D08,K,2,11,6,2,NaN,8,...,2,-5.948967,-8.671118,-7.070748,NaN,NaN,NaN,NaN,NaN,NaN
12,SBI-0051590,SBI-0051590.P003,PN-016742.D08,K,2,11,6,2,NaN,6,...,1,-29.498897,-22.710698,-30.757936,NaN,NaN,NaN,NaN,NaN,NaN
13,SBI-0051793,SBI-0051793.P002,PN-016742.D08,N,2,14,16,2,NaN,4,...,2,-12.466832,-12.660363,-11.279072,NaN,NaN,NaN,NaN,NaN,NaN
14,SBI-0051793,SBI-0051793.P002,PN-016742.D08,N,2,14,16,2,NaN,11,...,1,-19.722680,-18.403508,-24.849944,NaN,NaN,NaN,NaN,NaN,NaN
15,SBI-0050757,SBI-0050757.P003,PN-016743.D08,A,3,1,19,2,NaN,7,...,1,-32.340286,-19.756206,-24.729310,NaN,NaN,NaN,NaN,NaN,NaN
16,SBI-0206898,SBI-0206898.P001,PN-016743.D08,B,3,2,12,2,NaN,6,...,2,-11.450893,-6.839375,-9.945972,NaN,NaN,NaN,NaN,NaN,NaN
17,SBI-0051168,SBI-0051168.P003,PN-016743.D08,I,3,9,5,2,NaN,14,...,2,-5.917852,-8.561304,-5.107429,NaN,NaN,NaN,NaN,NaN,NaN
18,SBI-0051950,SBI-0051950.P002,PN-016744.D08,O,4,15,21,2,NaN,19,...,2,-4.540959,-6.969164,-4.021432,NaN,NaN,NaN,NaN,NaN,NaN
19,SBI-0051950,SBI-0051950.P002,PN-016744.D08,O,4,15,21,2,NaN,10,...,1,-24.249994,-22.254595,-19.607508,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
spectrum_id = pd.merge(spectrum_metadata, true_pos, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
spectrum_id

,Compound ID,Batch ID,Plate ID,Well ID,plate,row,column,screen,Concentration,0,...,cell type,8,9,10,11,12,13,14,15,true pos
0,SBI-0051361,SBI-0051361.P001,PN-020238.D03,B,1,2,17,3,10,23,...,1,-8.359495,-6.923918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBI-0050242,SBI-0050242.P002,PN-020238.D03,C,1,3,10,3,10,24,...,1,-7.986992,-6.840863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBI-0051471,SBI-0051471.P001,PN-020238.D03,N,1,14,18,3,10,5,...,2,-9.155646,-9.226261,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBI-0051501,SBI-0051501.P001,PN-020239.D03,G,2,7,17,3,10,22,...,1,-7.333916,-8.943649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SBI-0051578,SBI-0051578.P001,PN-020239.D03,K,2,11,16,3,10,25,...,1,-6.674375,-7.785253,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SBI-0051642,SBI-0051642.P001,PN-020239.D03,N,2,14,7,3,10,10,...,1,-9.657506,-10.817771,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SBI-0051852,SBI-0051852.P001,PN-020240.D03,D,3,4,21,3,10,4,...,2,-11.811701,-8.975596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,SBI-0051911,SBI-0051911.P001,PN-020240.D03,F,3,6,16,3,10,1,...,2,-14.543801,-19.793354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SBI-0052060,SBI-0052060.P001,PN-020241.D03,E,4,5,18,3,10,21,...,1,-9.101585,-7.252668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SBI-0052089,SBI-0052089.P001,PN-020241.D03,K,4,11,16,3,10,17,...,1,-9.825063,-7.293767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,SBI-0052454,SBI-0052454.P001,PN-020242.D03,H,5,8,15,3,10,18,...,1,-8.533233,-8.212735,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
lopac_id = pd.merge(lopac_metadata, true_pos, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
lopac_id

,Batch ID,Compound ID,Plate ID,Well ID,plate,row,column,screen,Concentration,Source,...,cell type,8,9,10,11,12,13,14,15,true pos
0,SBI-0050343.P002,SBI-0050343,PN-019804.D03,G,2,7,11,4,10,LOPAC,...,2,-6.819003,-6.365153,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBI-0050445.P002,SBI-0050445,PN-019804.D03,K,2,11,22,4,10,LOPAC,...,2,-10.390365,-9.801439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBI-0050757.P004,SBI-0050757,PN-019805.D03,K,3,11,20,4,10,LOPAC,...,2,-12.112214,-11.512902,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBI-0050943.P006,SBI-0050943,PN-019806.D03,A,4,1,21,4,10,LOPAC,...,2,-11.101463,-9.330322,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SBI-0051168.P004,SBI-0051168,PN-019806.D03,B,4,2,4,4,10,LOPAC,...,2,-6.827812,-6.748062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SBI-0051221.P002,SBI-0051221,PN-019806.D03,L,4,12,10,4,10,LOPAC,...,2,-6.905620,-9.753410,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
prestwick_id = pd.merge(prestwick_metadata, true_pos, how = 'inner', on = ['plate', 'row', 'column', 'screen'])
prestwick_id

,Compound ID,Plate ID,Well ID,plate,row,column,screen,0,1,2,cell type,8,9,10,11,12,13,14,15,true pos
0,SBI-0635889,PN-019860.D01,C,6,3,13,4,12,-6.530551,0.000821,2,-7.135633,-5.925470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBI-0051732,PN-019860.D01,N,6,14,22,4,3,-12.827397,0.000085,2,-14.039278,-11.615516,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBI-0050943,PN-019861.D01,P,7,16,17,4,13,-6.463129,0.000794,2,-5.955932,-6.970327,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBI-0050757,PN-019862.D01,M,8,13,12,4,4,-12.284108,0.000053,2,-12.905806,-11.662410,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
with open ('{}/fda in IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    fda_in_id.to_csv('{}/fda in IDs.csv'.format(analyses_folder))
    
with open ('{}/spectrum IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    spectrum_id.to_csv('{}/spectrum IDs.csv'.format(analyses_folder))
    
with open ('{}/lopac IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    lopac_id.to_csv('{}/lopac IDs.csv'.format(analyses_folder))
    
with open ('{}/prestwick IDs.csv'.format(analyses_folder),'w') as id_outputfile:
    prestwick_id.to_csv('{}/prestwick IDs.csv'.format(analyses_folder))