In [1]:
import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['a', 'b', 'c', 'd'])

#add new column to a dataframe
#df1['e'] = np.random.randn(10)
df1['e'] = 0
#df1['e'] = np.random.randn(1)


df1

          a         b         c         d  e
0 -1.201091 -1.739670  0.320368 -1.115635  0
1 -0.386599  1.472476 -0.531809  0.669604  0
2  1.066908 -1.518549  0.433561 -1.263874  0
3 -1.202402 -1.308325  0.979718 -0.403973  0
4  0.658357  0.081622  0.163076 -0.927391  0
5  0.014235  0.562455 -0.364929 -1.423447  0
6 -0.442000  0.130967  0.493416  1.802170  0
7  1.102634  1.470586 -0.146297  2.376052  0
8  0.769415  0.503419  0.213292 -1.430722  0
9  0.848472 -0.424072 -0.207140 -0.039950  0

In [3]:
print len(df1.index)

10

In [4]:
df1.shape

(10, 5)

In [5]:
df1 = df1.rename(columns = {'a': 'x'})

In [6]:
df1

          x         b         c         d  e
0 -1.201091 -1.739670  0.320368 -1.115635  0
1 -0.386599  1.472476 -0.531809  0.669604  0
2  1.066908 -1.518549  0.433561 -1.263874  0
3 -1.202402 -1.308325  0.979718 -0.403973  0
4  0.658357  0.081622  0.163076 -0.927391  0
5  0.014235  0.562455 -0.364929 -1.423447  0
6 -0.442000  0.130967  0.493416  1.802170  0
7  1.102634  1.470586 -0.146297  2.376052  0
8  0.769415  0.503419  0.213292 -1.430722  0
9  0.848472 -0.424072 -0.207140 -0.039950  0

In [7]:
df1 = df1.rename(columns = {'x': 'e'})

In [8]:
df1

          e         b         c         d  e
0 -1.201091 -1.739670  0.320368 -1.115635  0
1 -0.386599  1.472476 -0.531809  0.669604  0
2  1.066908 -1.518549  0.433561 -1.263874  0
3 -1.202402 -1.308325  0.979718 -0.403973  0
4  0.658357  0.081622  0.163076 -0.927391  0
5  0.014235  0.562455 -0.364929 -1.423447  0
6 -0.442000  0.130967  0.493416  1.802170  0
7  1.102634  1.470586 -0.146297  2.376052  0
8  0.769415  0.503419  0.213292 -1.430722  0
9  0.848472 -0.424072 -0.207140 -0.039950  0

In [9]:
def f(x):
    #print x['b']
    return x['b'] / x['c']


df1['f'] = df1.apply(f, axis = 1)

In [10]:
df1

          e         b         c         d  e          f
0 -1.201091 -1.739670  0.320368 -1.115635  0  -5.430230
1 -0.386599  1.472476 -0.531809  0.669604  0  -2.768806
2  1.066908 -1.518549  0.433561 -1.263874  0  -3.502507
3 -1.202402 -1.308325  0.979718 -0.403973  0  -1.335409
4  0.658357  0.081622  0.163076 -0.927391  0   0.500517
5  0.014235  0.562455 -0.364929 -1.423447  0  -1.541270
6 -0.442000  0.130967  0.493416  1.802170  0   0.265429
7  1.102634  1.470586 -0.146297  2.376052  0 -10.052028
8  0.769415  0.503419  0.213292 -1.430722  0   2.360235
9  0.848472 -0.424072 -0.207140 -0.039950  0   2.047276

In [11]:
abasdfasdf = 'f'

df1['f']
#df1[abasdfasdf]
#df1.column_name(abasdfasdf)

x = df1['f']
print x[2]

-3.50250729799

In [12]:
sorteddf1 = df1.sort(['f'], axis = 0)
print df1
print sorteddf1

          e         b         c         d  e          f
0 -1.201091 -1.739670  0.320368 -1.115635  0  -5.430230
1 -0.386599  1.472476 -0.531809  0.669604  0  -2.768806
2  1.066908 -1.518549  0.433561 -1.263874  0  -3.502507
3 -1.202402 -1.308325  0.979718 -0.403973  0  -1.335409
4  0.658357  0.081622  0.163076 -0.927391  0   0.500517
5  0.014235  0.562455 -0.364929 -1.423447  0  -1.541270
6 -0.442000  0.130967  0.493416  1.802170  0   0.265429
7  1.102634  1.470586 -0.146297  2.376052  0 -10.052028
8  0.769415  0.503419  0.213292 -1.430722  0   2.360235
9  0.848472 -0.424072 -0.207140 -0.039950  0   2.047276
          e         b         c         d  e          f
7  1.102634  1.470586 -0.146297  2.376052  0 -10.052028
0 -1.201091 -1.739670  0.320368 -1.115635  0  -5.430230
2  1.066908 -1.518549  0.433561 -1.263874  0  -3.502507
1 -0.386599  1.472476 -0.531809  0.669604  0  -2.768806
5  0.014235  0.562455 -0.364929 -1.423447  0  -1.541270
3 -1.202402 -1.308325  0.979718 -0.403973  0  -1.335409
6 -0.442000  0.130967  0.493416  1.802170  0   0.265429
4  0.658357  0.081622  0.163076 -0.927391  0   0.500517
9  0.848472 -0.424072 -0.207140 -0.039950  0   2.047276
8  0.769415  0.503419  0.213292 -1.430722  0   2.360235

In [13]:
sorteddf1['g'] = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
sorteddf1

          e         b         c         d  e          f  g
7  1.102634  1.470586 -0.146297  2.376052  0 -10.052028  0
0 -1.201091 -1.739670  0.320368 -1.115635  0  -5.430230  0
2  1.066908 -1.518549  0.433561 -1.263874  0  -3.502507  0
1 -0.386599  1.472476 -0.531809  0.669604  0  -2.768806  0
5  0.014235  0.562455 -0.364929 -1.423447  0  -1.541270  0
3 -1.202402 -1.308325  0.979718 -0.403973  0  -1.335409  1
6 -0.442000  0.130967  0.493416  1.802170  0   0.265429  1
4  0.658357  0.081622  0.163076 -0.927391  0   0.500517  1
9  0.848472 -0.424072 -0.207140 -0.039950  0   2.047276  1
8  0.769415  0.503419  0.213292 -1.430722  0   2.360235  1

In [14]:
avg_of_col_f = sorteddf1.groupby(['g'])['f'].mean()
avg_of_col_f

g
0   -4.658968
1    0.767610
Name: f, dtype: float64

In [15]:
aggregated_repl_of_col_f = sorteddf1.xs(['f', 'g'], axis = 1)
aggregated_repl_of_col_f = aggregated_repl_of_col_f.reset_index(drop = True)
aggregated_repl_of_col_f['h'] = [2, 2, 3, 3, 3, 4, 4, 5, 5, 5]
aggregated_repl_of_col_f

           f  g  h
0 -10.052028  0  2
1  -5.430230  0  2
2  -3.502507  0  3
3  -2.768806  0  3
4  -1.541270  0  3
5  -1.335409  1  4
6   0.265429  1  4
7   0.500517  1  5
8   2.047276  1  5
9   2.360235  1  5

In [16]:
gb = aggregated_repl_of_col_f.groupby(('g', 'h'))
result = gb['f'].unique()
#result.reset_index(inplace=True) #lastly, reset the index
result

g  h
0  2                    [-10.0520275243, -5.43022989194]
   3    [-3.50250729799, -2.76880641051, -1.54127016332]
1  4                    [-1.33540870152, 0.265428725834]
   5       [0.50051734269, 2.04727607556, 2.36023534421]
Name: f, dtype: object

In [17]:
result = result.to_frame()
result

                                                    f
g h
0 2                  [-10.0520275243, -5.43022989194]
  3  [-3.50250729799, -2.76880641051, -1.54127016332]
1 4                  [-1.33540870152, 0.265428725834]
  5     [0.50051734269, 2.04727607556, 2.36023534421]

In [18]:
result['i'] = [0, 1, 2, 3]

result['j'] = [0.01, 0.01, 0.01, 0.05]

result

                                                    f  i     j
g h
0 2                  [-10.0520275243, -5.43022989194]  0  0.01
  3  [-3.50250729799, -2.76880641051, -1.54127016332]  1  0.01
1 4                  [-1.33540870152, 0.265428725834]  2  0.01
  5     [0.50051734269, 2.04727607556, 2.36023534421]  3  0.05

In [19]:
#result_analyses = result.reset_index()

#result_analyses = result_analyses.groupby(['g', 'h'])['f'].mean()

#result_analyses

In [31]:
result.loc[(1, 5)]

f    [0.50051734269, 2.04727607556, 2.36023534421]
i                                                3
j                                             0.05
Name: (1, 5), dtype: object

In [35]:
for group_name, group_df in result.groupby(level = 0):
    print group_name
    print group_df

0
                                                    f  i     j
g h
0 2                  [-10.0520275243, -5.43022989194]  0  0.01
  3  [-3.50250729799, -2.76880641051, -1.54127016332]  1  0.01
1
                                                 f  i     j
g h
1 4               [-1.33540870152, 0.265428725834]  2  0.01
  5  [0.50051734269, 2.04727607556, 2.36023534421]  3  0.05

In [29]:
df = result.reset_index()
df

   g  h                                                 f  i     j
0  0  2                  [-10.0520275243, -5.43022989194]  0  0.01
1  0  3  [-3.50250729799, -2.76880641051, -1.54127016332]  1  0.01
2  1  4                  [-1.33540870152, 0.265428725834]  2  0.01
3  1  5     [0.50051734269, 2.04727607556, 2.36023534421]  3  0.05

In [32]:
df.loc[3]

g                                                1
h                                                5
f    [0.50051734269, 2.04727607556, 2.36023534421]
i                                                3
j                                             0.05
Name: 3, dtype: object

In [30]:

for x in df.groupby('g'):
    print x

(0,    g  h                                                 f  i     j
0  0  2                  [-10.0520275243, -5.43022989194]  0  0.01
1  0  3  [-3.50250729799, -2.76880641051, -1.54127016332]  1  0.01)
(1,    g  h                                              f  i     j
2  1  4               [-1.33540870152, 0.265428725834]  2  0.01
3  1  5  [0.50051734269, 2.04727607556, 2.36023534421]  3  0.05)

In [20]:
result_index_g = result.index.levels[0]

for x in result.iter:
    print 'aha'
    
    print result['{}'.format(x)]

AttributeError: 'DataFrame' object has no attribute 'iter'